@use "../base/variables" as v;
@use "../base/mixins" as m;

.header{
    @include m.flex(row nowrap,space-between,center,16px);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(187, 81, 32);
    &__h1{
        font-size: 1.2rem;
        color: v.$colorLetra;
    }
    &__ul{
    @include m.flex(row wrap,center,center,16px);

    }
}
.icon__social{
    width: 1.8rem;
    fill: v.$colorLetra;
}